@{
    ViewData["Title"] = "Movie List";
    // Titre changé pour suivre la quête learn.microsoft n°3
    // sur le changement des vues et des pages de disposition.
}

<h2>My Movie List</h2> <!-- Titre changé pour l'exercice -->
<p>Hello from our View Template</p>
<div class="hop"><span>Hop !</span></div>